/**********************************************
GENERAL
***********************************************/
.form-1 {
  display: none;
}

#button-2 {
  display: none;
}

#output {
  display: none;
}

/**********************************************
HEADER
***********************************************/
.header {
  text-align: center;
  background: rgb(204, 0, 82);
  color: #fff;
}

/**********************************************
LOGIN
***********************************************/
.login {
  text-align: center;
}

/**********************************************
INPUT AREA
***********************************************/

/**********************************************
FOOTER
***********************************************/
.footer {
  text-align: center;
}
