/**********************************************
GENERAL
***********************************************/
.form-1 {
  display: none;
}

#button-2 {
  display: none;
}

#output {
  display: none;
}

/**********************************************
HEADER
***********************************************/
.header {
  text-align: center;
  background: rgb(204, 0, 82);
  color: #fff;
}

/**********************************************
LOGIN
***********************************************/
.login {
  text-align: center;
  min-height: 550px;
  background: rgb(255, 230, 240);
}

.main-login {
  padding-top: 210px;
}

/**********************************************
INPUT AREA
***********************************************/

/**********************************************
FOOTER
***********************************************/
.footer {
  text-align: center;
  color: #fff;
  background: rgb(77, 0, 31);
  padding: 20px;
}
