 /**********************************************
GENERAL
***********************************************/
/*
.form-1 {
  display: none;
}


#button-2 {
  display: none;
}
*/


#output {
  display: none;
}

/**********************************************
HEADER
***********************************************/
.header {
  text-align: center;
  color: #fff;
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  z-index: 3;
}

.fa-credit-card-alt {
  font-size: 2em;
  color: #fff;
}

.top {
  font-family: 'Pacifico', cursive;
  color: #F15A29;
}

.top2 {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

/**********************************************
LOGIN
***********************************************/
.login {
  text-align: center;
  min-height: 550px;
  color: #fff;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.main-login {
  padding-top: 190px;
}

.fa-user {
  font-size: 3.5em;
  color: #F15A29;
}

.btn1 {
  margin-top: 15px;
  padding: 5px 25px;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  background: #000;
  color: #fff;
  letter-spacing: 1px;
}

.id {
  padding: 5px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: rgb(204, 0, 82);
}

.user1 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

#result1 {
  font-family: 'Scope One', serif;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 15px 0 0 0;
  color: #F15A29;
}

/**********************************************
INPUT AREA
***********************************************/

.form-1 {
  background: #fff;
  text-align: center;
  color: #fff;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
  padding: 30px 0 50px;
}

/**********************************************
FOOTER
***********************************************/
.footer {
  text-align: center;
  color: #fff;
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 15px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  z-index: 10;
}
